* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poor Story", cursive;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.wrapper_nav {
  width: 100%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 13px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  justify-content: center;
}
.wrapper_nav_ul {
  display: flex;
}

a {
  text-decoration: none;
}
.marker {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: purple;
  transition: 0.2s;
}

.nav_ul_li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#nav_ul_li_1 {
}
.wrapper_title {
  height: 60px;
  background-color: antiquewhite;
}

.wrapper_title_title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title_title_caption {
  font-size: 12px;
}
.title_title_title {
  font-size: 18px;
}
.wrapper_content {
  flex: 1;
  overflow-y: scroll;
  padding: 15px;
}

.wrapper_content_day1 {
}
img {
  width: 80%;
}

.wrapper_footer {
  height: 40px;
  background-color: beige;
}
